/* Start Variables */
:root {
  --mainColor: #10cab7;
  --secondColor: #24484f;
  --thirdColor: #f6f6f6;
  --fourthColor : #333;
  --sectionPadding : 60px;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Global Components */
.special-title {
  font-size: 100px;
  color: #EBECED;
  font-weight: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  letter-spacing: -3;
}
.special-title + p{
  margin: -30px 0 0;
  font-size: 20px;
  color: #575757;
  text-align: center;
}
@media (max-width:767px) {
  .special-title {
    font-size: 60px;
  }
  .special-title + p {
    margin: -20px 0 0;
    font-size: 15px;
  }
}
/* End Global Components */
/* Start Header */
header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 60px;
}
header .links {
  position: relative;
}
header .links:hover .icon span:nth-child(2){
  width: 100%;
}
header .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
}
header .icon span {
  height: 2px;
  background-color: var(--fourthColor);
  margin-bottom: 5px;
}
header .icon span:first-child {
  width: 100%;
}
header .icon span:nth-child(2) {
  width: 60%;
  transition: .5s;
}
header .icon span:last-child {
  width: 100%;
}
header .links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  background-color: var(--thirdColor);
}
header .links:hover ul{
  opacity: 1;
  visibility: visible;
}
header .links ul::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--thirdColor) transparent;
  right: 5px;
  top: -20px;
}
header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--fourthColor);
  transition: 0.5s;
}
header .links ul li a:hover {
  padding-left: 25px;
}
header .links ul li:not(li:last-child) a {
  border-bottom: 1px solid var(--fourthColor);
}
/* End Header */
/* Start Landing Section */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .landing-text {
  text-align: center;
  width: 320px;
}
.landing .landing-text h1 {
  margin: 0;
  color: var(--mainColor);
  font-size: 47px;
  font-weight: 800;
}
.landing .landing-text p {
  color: var(--secondColor);
  font-size: 20px;
  line-height: 1.8;
}
/* End Landing Section */
/* Start Features Section */
.features {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  background-color: var(--thirdColor);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .container .feature {
  padding: 15px;
  text-align: center;
}
.features .container .feature i {
  color: var(--mainColor);
}
.features .container .feature h3 {
  color: var(--secondColor);
  font-weight: 800;
  font-size: 20px;
  margin-top: 42px;
}
.features .container .feature p {
  color: var(--secondColor);
  line-height: 1.8;
  font-size: 15px;
}
/* End Features Section */
/* Start Services Section */
.services {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}
.services .container .services-content {
  padding-top: var(--sectionPadding);
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.services .container .services-content .service-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.services .container .services-content .service-col .service {
  width: 300px;
  display: grid;
  grid-template: auto auto/auto 1fr;
  gap: 30px;
}
@media (max-width: 767px) {
  .services .container .services-content .service-col .service {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services .container .services-content .service-col .service p {
    text-align: center;
  }
}
.services .container .services-content .service-col .service i {
  grid-row: 1/span 2;
  color: var(--mainColor);
}
.services .container .services-content .service-col .service h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
}
.services .container .services-content .service-col .service p {
  margin: 0;
  font-size: 15px;
  line-height: 1.8;
  color: var(--secondColor);
}
.services .container .services-content .service-col:nth-child(3) {
  position: relative;
}
@media (max-width: 1199px) {
    .services .container .services-content .service-col:nth-child(3) {
      display: none;
  }
}
.services .container .services-content .service-col img {
  width: 300px;
  height: 330px;
  margin: 30px 30px 30px 0;
}
.services .container .services-content .service-col:nth-child(3)::before {
  content: "";
  width: var(--sectionPadding);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--secondColor);
  z-index: -1;
}
/* End Services Section */
/* Start Portfolio Section */
.portfolio {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  background-color: var(--thirdColor);
}
.portfolio .container .portfolio-content{
  padding-top: var(--sectionPadding);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.portfolio .container .portfolio-content .portfolio-card {
  background-color: white;
}
.portfolio .container .portfolio-content .portfolio-card .portfolio-card-info {
  padding: 20px;
}
.portfolio .container .portfolio-content .portfolio-card .portfolio-card-info h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.portfolio .container .portfolio-content .portfolio-card .portfolio-card-info p {
  font-size: 15px;
  line-height: 1.8;
  color: var(--fourthColor);
  margin-bottom: 0;
}
.portfolio .container .portfolio-content .portfolio-card img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .portfolio .container .portfolio-content {
    text-align: center;
  }
  .portfolio .container .portfolio-content .portfolio-card {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio .container .portfolio-content .portfolio-card img {
    max-width: 100%;
  }
}
/* End Portfolio Section */