/* Start Variables */
:root {
  --mainColor: #10cab7;
  --secondColor: #24484f;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */
header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 60px;
}
header .links {
  position: relative;
}
header .links:hover .icon span:nth-child(2){
  width: 100%;
}
header .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
}
header .icon span {
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
}
header .icon span:first-child {
  width: 100%;
}
header .icon span:nth-child(2) {
  width: 60%;
  transition: .5s;
}
header .icon span:last-child {
  width: 100%;
}
header .links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  min-width: 200px;
  opacity: 0;
  transition: 0.3s;
  background-color: #f6f6f6;
}
header .links:hover ul{
  opacity: 1;
}
header .links ul::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  right: 5px;
  top: -20px;
}
header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.5s;
}
header .links ul li a:hover {
  padding-left: 25px;
}
header .links ul li:not(li:last-child) a {
  border-bottom: 1px solid #333;
}
/* End Header */
/* Start Landing Section */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .landing-text {
  text-align: center;
  width: 320px;
}
.landing .landing-text h1 {
  margin: 0;
  color: var(--mainColor);
  font-size: 47px;
  font-weight: 800;
}
.landing .landing-text p {
  color: var(--secondColor);
  font-size: 20px;
  line-height: 1.8;
}
/* End Landing Section */